<header class="intro-header" style="background-image: url('<%- url_for(theme.index_cover) %>')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <div class="site-heading text-center text-white">
                    <h1><%- __('category_this', page.category) %></h1>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Main Content -->
<div class="container page-categories">
    <div class="row">
        <div class="col-lg-10 offset-lg-1 text-center">
            <% site.categories.each( function (category) { %>
                <%- partial('_widget/category-item', {category: category}) %>
            <% }); %>
        </div>
        <% if (page.posts.length > 0) { %>
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1">
                <hr class="category-preview-hr">
                <% page.posts.each( function (post) { %>
                    <%- partial('_partial/pages/category-preview', {post: post}) %>
                <% }); %>
                <div class="archive-before-pagination"></div>
                <%- partial('_partial/pagination') %>
            </div>
        <% } %>
    </div>
</div>

