<hr />

<!-- Footer -->
<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 col-md-10 offset-md-1 text-center">
                <ul class="list-inline">
                    <% if (theme.footer.social_link.twitter_url) { %>
                        <li class="list-inline-item">
                            <a rel="external nofollow" href="<%- theme.twitter_url%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.footer.social_link.facebook_url) { %>
                        <li class="list-inline-item">
                            <a rel="external nofollow" href="<%- theme.facebook_url%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.footer.social_link.github_url) { %>
                        <li class="list-inline-item">
                            <a rel="external nofollow" href="<%- theme.github_url%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.footer.social_link.linkedin_url) { %>
                        <li class="list-inline-item">
                            <a rel="external nofollow" href="<%- theme.linkedin_url%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.footer.social_link.mailto) { %>
                        <li class="list-inline-item">
                            <a rel="external nofollow" href="mailto:<%- theme.mailto%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="far fa-envelope fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>

                    <% if (theme.footer.social_link.gitlab_url) { %>
                        <li>
                            <a rel="external nofollow" href="<%- theme.gitlab_url%>" target="_blank">
                                <span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fab fa-gitlab fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    <% } %>
                </ul>
                <p class="copyright text-muted footer-author">
                    &copy; <%= theme.start_year %>-<%= date(new Date(), 'YYYY') %> <a class="copyright-link text-muted" href="<%- theme.footer.author %>"><%= config.author || config.title %></a>
                    &nbsp;|&nbsp;Powered by <a class="copyright-link text-muted" href="https://hexo.io/">Hexo</a>  
                    &nbsp;|&nbsp;Theme <a class="copyright-link text-muted" href="https://github.com/luswdev/hexo-theme-clean.git">Clean</a>
                    <% if (theme.busuanzi && theme.busuanzi.site_views) { %>
                        <span id="busuanzi_container_site_pv">
                            |&nbsp;<i class="fas fa-eye"></i>&nbsp;&nbsp;<span id="busuanzi_value_site_pv"></span>&nbsp;
                        </span>
                    <% } %>
                    <% if (theme.busuanzi && theme.busuanzi.site_visitors) { %>
                        <span id="busuanzi_container_site_uv">
                            &nbsp;|&nbsp;<i class="fas fa-user-friends"></i>&nbsp;&nbsp;<span id="busuanzi_value_site_uv"></span>&nbsp;
                        </span>
                    <% } %>
                </p>
                <ul class="copyright text-muted footer-menu list-inline">
                    <% for (var i in theme.footer.menu){ %>
                        <li class="list-inline-item">
                            <a href="<%- theme.footer_menu[i].url ? url_for(theme.footer_menu[i].url) : url_for(theme.footer_menu[i]) %>">
                                <% if (theme.footer.menu[i].icon) { %>
                                    <i class="<%= theme.footer_menu[i].icon %> fa-stack-2x"></i>
                                <% } else { %>
                                    <%= i %>
                                <% } %>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </div>
</footer>
